*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --title-purple: #202447;
  --main-color: #262852;
  --btn-color: #2d7ff9;
  // #ef0057
  // #2e1d8a
  // #226ef2;
}

$bp-d: 1200px;
$bp-sd: 1024px;
$bp-t: 900px;
$bp-m: 640px;
$bp-nav: 810px;

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  @media only screen and (max-width: $bp-d) {
    font-size: 50%;
  }
}

body {
  background: #fff;
  overflow-x: hidden;
  font-size: 1.6rem;
  line-height: 2.9rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  color: var(--main-color);
  font-weight: 400;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

.cta--submit {
  background: var(--btn-color);
  border: 0;
  outline: 0;
  letter-spacing: 0.5px;
  padding: 1rem 4rem;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  font-family: inherit;
  cursor: pointer;
  transition: 0.2s linear;

  &:hover {
    background: #0059ff;
  }
}

.nav {
  &__row {
    padding: 2.2rem 0;
    display: flex;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    @media only screen and (max-width: $bp-nav){
      width: 95vw;
  }
  }

  &__logo-box {
    margin-left: 10rem;
    height: 64px;
    width: 120px;
    @media only screen and (max-width: $bp-nav){
      margin-left: 3rem;
  }
  }

  &__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    @media only screen and (max-width: 610px){
      display: none;
  }
  }

  &__link {
    color: var(--main-color);
    opacity: 0.6;
    transition: 0.2s;
    font-size: 2rem;
  }

  &__pricing-box {
    position: relative;

    p:hover + p {
      display: block;
    }
  }

  &__pricing {
    display: none;
    font-size: 2rem;
    border: 1px solid var(--main-color);
    border-top: 0;
    position: absolute;
    top: 100%;
    right: 0;
    width: 250%;
    padding: 1rem;
    font-family: inherit;
  }
  &__link:hover {
    opacity: 1;
  }

  &__cta-box {
    margin-right: auto;
  }

  &__cta {
    letter-spacing: 0.5px;
    padding: 1.2rem 3rem;
    border-radius: 6px;
    color: #fff;
    border: 1px solid transparent;
    transition: 0.2s ease;
    font-family: inherit;

    &--blue {
      background: var(--btn-color);
      border-color: var(--btn-color);

      &:hover {
        background: #0059ff;
        border-color: #0059ff;
      }
    }

    &--transparent {
      margin-left: 3rem;
      border-color: #d3d3d3;
      color: var(--main-color);
      @media only screen and (max-width: 610px){
        display: none;
    }

      &:hover {
        background: #fafafa;
      }
    }
  }

  &__cta:hover {
    transform: translateY(-3px);
  }
}

.header {
  padding: 10rem 0;
  width: 80vw;
  margin: 0 auto;
  @media only screen and (max-width: $bp-m) {
    width: 95vw;
    padding: 5rem 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    @media only screen and (max-width: $bp-sd) {
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;

    @media only screen and (max-width: $bp-sd) {
      width: 100%;
      margin-top: 3rem;
      text-align: center;
    }
  }

  &__title {
    font-size: 5rem;
    line-height: 1.1;
    margin-bottom: 3rem;
    color: var(--title-purple);
  }

  &__subtitle {
    font-weight: 300;
    color: gray;
    font-size: 2.1rem;
    line-height: 1.6;
    margin-bottom: 3rem;
    color: var(--main-color);
  }

  // Search Form

  &__form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 3rem;
  }
  &__inputs {
    width: 100%;
  }

  &__search-box {
    width: 100%;
    position: relative;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #f7f6fc;
    height: 6rem;
  }

  &__paypal-btn {
    justify-self: start;
  }

  &__url {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    font-weight: 300;
    font-size: 1.8rem;
    color: var(--main-color);
    z-index: 2;
    letter-spacing: 1.5px;

    @media only screen and (max-width: $bp-sd) {
      letter-spacing: 0.5px;
    }
  }

  &__search {
    width: 100%;
    height: 100%;
    padding-right: 9rem;
    padding-left: 3rem;
    background-color: transparent;
    border: 0;
    outline: 0;
    align-self: stretch;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    color: var(--main-color);
    font-family: inherit;
    font-weight: 300;
  }

  &__search::-webkit-input-placeholder {
    color: #a5b2ba;
  }

  &__submit {
    background: var(--btn-color);
    border: 0;
    outline: 0;
    letter-spacing: 0.5px;
    padding: 1rem 4rem;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    font-family: inherit;
    cursor: pointer;
    transition: 0.2s linear;
  }

  &__submit:hover {
    background: #0059ff;
  }
  &__steps {
    width: 100%;
    position: relative;
    @media only screen and (max-width: $bp-sd) {
      margin-top: 5rem;
    }
  }

  &__steps::before {
    content: '';
    width: 1px;
    height: 100%;
    border-left: 1px dashed #ddd;
    position: absolute;
    top: 0;
    left: 3rem;
  }

  &__step {
    display: flex;
    @media only screen and (max-width: $bp-sd) {
      margin: 0 auto;
      width: 90%;
    }
  }

  &__step:not(:last-child) {
    margin-bottom: 7rem;
  }

  &__step-number {
    width: 6rem;
    height: 6rem;
    position: relative;
    border-radius: 50%;
    border: 2px solid var(--btn-color);
    background: #fff;
    margin-left: 3rem;

    @media only screen and (max-width: $bp-m){
      width: 4rem;
      height: 4rem;
    }

    p {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.1rem;
      font-weight: 700;
      color: var(--btn-color);
      @media only screen and (max-width: $bp-m){
          font-size: 1.6rem;
      }
    }
  }

  &__step-content{
    width: 90%;
    @media only screen and (max-width: $bp-sd) {
      text-align: right;
    }

  }

  &__paragraph{
    @media only screen and (max-width: $bp-m){
      font-size: 1.6rem;
      padding: 0;
  }
  }

  &__content-title {
    font-weight: 300;
    font-size: 2rem;
    color: #202447;
    margin-bottom: 1rem;
    svg {
      margin-left: 1rem;
      color: #202447;
    }
  }

  &__photos-con {
    margin-top: 3rem;
    label {
      display: block;
      color: inherit;
      font-size: 1.2rem;
      font-weight: bold;

      @media only screen and (max-width: $bp-sd) {
        width: 40%;
        margin: 0 auto;
        text-align: right;
      }
    }
  }

  &__photos {
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--btn-color);
    width: 40%;
    padding: 1rem;
  }
}

.why {
  width: 100%;
  padding: 10rem 0;
  background: #fff;

  &__container {
    width: 80vw;
    margin: 0 auto;
    @media only screen and (max-width: $bp-m) {
      width: 100vw;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 7rem;
    font-size: 3rem;
    color: var(--title-purple);

    svg {
      margin-bottom: 3rem;
      color: var(--main-color);
    }

    h2 {
      font-weight: 700;
    }
  }

  &__explain {
    font-weight: 400;
    color: gray;
    font-size: 1.35714286em;
    line-height: 1.68421053em;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 7rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    @media only screen and (max-width: $bp-sd) {
      grid-template-columns: 1fr;
    }
  }

  &__col {
    padding: 3rem;
    border-radius: 6px;
    border: 1px solid #ececec;
    svg {
      font-size: 3rem;
      color: var(--title-purple);
      margin-bottom: 3rem;
      font-size: 4rem;
    }

    h4 {
      text-align: right;
      font-weight: bold;
      font-size: 2rem;
      color: var(--main-color);
      margin-bottom: 1rem;
    }

    p {
      text-align: right;
    }
  }
}

.footer {
  padding: 5rem 0;
  width: 100%;
  background-color: #252525;

  &__nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    align-content: center;
    width: 90%;
    margin: 0 auto;
  }
  &__list {
    text-align: right;
    h4 {
      color: #fff;
      margin-bottom: 3rem;
    }
    border-bottom: 1px solid var(--btn-color);
  }

  &__link {
    color: #fafafa;
    font-family: inherit;
  }

  &__signature {
    color: #fff;
    width: 90%;
    margin: 0 auto;
    padding-top: 3rem;
  }
}

.err-message {
  display: none;
  color: red;
  opacity: 0.6;
  font-size: 1rem;
}
.err-message--show {
  display: block;
}
.err-message--big {
  font-size: 2rem;
}

.form--hide {
  display: none;
}

.stage-1.form--show {
  display: flex;
}
.stage-2.form--show {
  display: grid;
}
.stage-3.form--show {
  display: flex;
}

// Error and success page style

.error-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 90vw;
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;

  @media only screen and (max-width: 900px) {
    display: block;
  }
}

.error__col {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media only screen and (max-width: 900px) {
    height: 50rem;;
  }
}

.error__col-img{
  @media only screen and (max-width: 900px) {
    height: auto;
  }
}

.error__content {
  padding: 4rem;
  @media only screen and (max-width: 900px) {
    text-align: center;
  }

  h1 {
    margin-bottom: 3rem;
  }

  p {
    padding-left: 10rem;
    @media only screen and (max-width: 900px) {
      padding-left: 0;
    }
  }
  a {
    display: inline-block;
    text-decoration: none;
    background: var(--btn-color);
    border: 0;
    outline: 0;
    letter-spacing: 0.5px;
    padding: 1rem 4rem;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    font-family: inherit;
    cursor: pointer;
    transition: 0.2s linear;
    margin-top: 3rem;
  }
  a:hover {
    background: #0059ff;
  }
}
